<div class="current-page-container">
  <div class="current-yoi-title">現在の酔い加減</div>
  <div class="current-yoi-emoji"><%= @current_emoji %></div>
  <div class="current-yoi-score">酔い度：<%= @current_score %>%</div>
</div>